body {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
h1 {
  font-family: 'Lato';
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
}

.box {
  color: white;	
  font-size: 15px;
  letter-spacing: 1px;
  font-family: 'Lato';
  text-transform: uppercase;
  width: 100px;
  height: 100px;
  margin: 0 8px 8px 0;
  background-color: blanchedalmond;
  /* display: table; */
  display: inline-block;
  transition: background-color 1000ms linear;
  line-height: 100px;
  vertical-align: middle;
}

.box span {
	line-height: 100px;
	display: inline-block;
	vertical-align: bottom;
}
